<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         verbose="true">

    <testsuites>
        <testsuite name="omachala/php-package-seed">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html"
             target="./build/coverage"
             title="omachala/php-package-seed"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">./src</directory>
                <directory suffix="Exception.php">./src</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>

</phpunit>
